/*
 * Device tree overlay for HyperPixel Touchscreen
 *
 * Compile:
 * dtc -@ -I dts -O dtb -o hyperpixel-touchscreen.dtbo hyperpixel-touchscreen.dts
 */

/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            i2c_touchscreen: i2c@0 {
                compatible = "hyperpixel";
                reg = <0x3 0x5c>;
                interrupts = <84>;
                #address-cells = <1>;
                #size-cells = <0>;
            };
        };
    };

    __symbols__ {
        hpx_touchscreen = "/fragment@0/__overlay__/hpx_touchscreen";
    };
};
